* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-color: #ebebeb;
}

.container {
    display: block;
    height: 10vh;
    width: 25vw;
    justify-content: center;
    align-items: center;
    top: 100px;
    left: 100px;
    position: absolute;
}

.progress-bar-container {
    margin-top: auto;
    display: block;
    position: relative;
    justify-content: space-between;
    margin-bottom: 20px;
    font-family: sans-serif;
}

.default-node {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.default-node .node-circle {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 6px;
}

.default-node .node-circle.rotate-icon i{
    animation: rotate 2s linear infinite;
}

.node-circle .node-style-0 {
    background: #ccc;
}

.node-circle .node-style-1 {
    background: #ffffff;
    border: 2px solid #ccc;
}

.default-node .node-circle i {
    z-index: 5;
}

.default-node .node-text {
    z-index: 5;
    position: absolute;
    bottom: -15px;
}

.default-node.active {
    font-weight: bold;
}

.default-node svg {
    animation: completePath var(--animationDuration) ease-out paused;
    animation-fill-mode: forwards;
}

@keyframes completedLine {
    0%{
        width: 0;
        border-color: #4bb543;
    }
    100%{
        width: 100px;
        border-color: #4bb543;
    }
}

.dtc-canvas-path {
    fill: none;
    stroke-width: 2;
}

@keyframes completePath {
    from{
        stroke-dashoffset: var(--strokeLength);
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
